<div class="search_location">
    <div id="search_location_input">
      <input type="text" name="search_location">
    </div>
    <div id="search_location_button">
      <input type="submit" value="Submit" >
    </div>
</div>

<div class="map" id="pick_location">
</div>
