
  <input type="text" placeholder="search band near you" id="search_location_input">
  <input type="submit" value="Search" id='search_location_submit'>


<!-- <div class="search_location">
    <div>
      <input type="text" name="search_location" id="search_location_input">
    </div>
    <div id="search_location_button">
      <input type="submit" value="Submit" >
    </div>
</div>
<div class="map" id="pick_location">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD61szX4DwMm4p0JkBGN_bBtZUSniJm3bk&libraries=places" defer async>
</script> -->
