/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
   font-size:50px;
 }

 h3 {
   font-size:20px;
 }

 .strong {
   font-weight: bold;
 }
 hr.style-one {
     border: 0;
     height: 1px;
     background: #333;
 }

 .map {
   height:500px;
   width:500px;
 }

 .image {
   position: relative;
   width: 100%;
}

.band_name {
   position: absolute;
   top: 45%;
   left: 30%;
   width: 100%;
}

img.logo {
  height:77px;
}

.about-box {
    background-color:#c6d4ff;
    /*min-height: 700px; */
}
.text-box {
  height:350px;
}

#searched_band_map{
  height: 50%;
  width: 100%;
}

.orange {
  color:#fbfbff;
  background-color:#ed7d3a;
}

.contact-us{
  height:166.66666667%; 
  width:50%;
}
