// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-button {
  width: 20px;
  height: 20px;
}

.save-button {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

.add_sign {
  width: 20px;
  height: 20px;
}
