// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-button {
  width: 20px;
  height: 20px;
  float:right;
}

.save-button {
  width: 20px;
  height: 20px;
  float:right;
}
.hidden {
  display: none;
}

.hidden.input {
  display: none;
}
.hidden.textarea{
  display: none;
}

.add_sign {
  width: 20px;
  height: 20px;
  float:right;
}

#tourmap_modal {
  width: 400px;
  height: 400px;
}

.delete_button_modal {
  width: 20px;
  height: 20px;
}
